<!DOCTYPE html>
<html>
	<head>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
		<title>Plant Sitter</title>
	</head>
	<style>
		/* Style The Dropdown Button */
		.dropbtn {
		  background-color: lightblue;
		  color: white;
		  padding: 16px;
		  font-size: 16px;
		  border: none;
		  cursor: pointer;
		}
		
		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		  position: relative;
		  display: inline-block;
		}
		
		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f9f9f9;
		  min-width: 160px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		
		/* Links inside the dropdown */
		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
		
		/* Change color of dropdown links on hover */
		.dropdown-content a:hover {background-color: #f1f1f1}
		
		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
		  display: block;
		}
		
		/* Change the background color of the dropdown button when the dropdown content is shown */
		.dropdown:hover .dropbtn {
		  background-color: lightblue;
		}
		.table, th, td {
			text-align: center;
			border: 1px solid;
			width: 500px;
			height: 40px;
		}
		</style>

	<body>
		<center>
		<h1>Plant Sitter</h1>

		</center>
		<br> <br>
		<caption style="font-weight: bold">Your Plants: </caption>
		<table id="plants">
			<tr>
				<th id="test">Plant Name </th>
				<th>Recommened Water </th>
				<th>Recommended Light </th>
				<th> Next Time to Water </th>
			</tr>
		</table>
		<br> <br>
		<label for="cars">Add another plant to your tracker</label>
		<select name="cars" id="cars">
			<option value="volvo">Mint</option>
			<option value="saab">Orchid</option>
			<option value="mercedes">Tomato</option>
			<option value="audi">Jade</option>
			<option value="audi">Sunflower</option>
			<option value="audi">Daisy</option>
			<option value="audi">Jalapeno</option>
			<option value="audi">Cactus</option>
		</select>
		<button>ADD</button>
		<br><br>

		<canvas id="mychart0" style="width:100%;max-width:500px; height:300px"></canvas>
		<br>
		<br>
		<canvas id="mychart1" style="width:100%;max-width:500px; height:300px"></canvas>
		<br>
		<br>
		<canvas id="mychart2" style="width:100%;max-width:500px; height:300px"></canvas>

		<script>
			let sensorValue = 0
			saved_plants = ["Mint Leaf", "Orchids", "Cactus"]
			PlantInformation = [["Mint Leaf", "7 day a week", "indoor shade", "Tomorrow"],["Orchids", "1 day a week", "indoor sun", "Friday"], 
			["Cactus", "2 time a month", "outdoor sun", "Monday 21st"], ["Jade", "7 days a week", "outdoor partly sunny", "Tomorrow"]]
			for (var i = 0; i < PlantInformation.length; i++){
				if (saved_plants.includes(PlantInformation[i][0])){
					var t = "";
					var tr = "<tr>";
					tr += "<td>"+PlantInformation[i][0]+"</td>";
					tr += "<td>"+PlantInformation[i][1]+"</td>";
					tr += "<td>"+PlantInformation[i][2]+"</td>";
					tr += "<td>"+PlantInformation[i][3]+"</td>";
					tr += "</tr>";
					t += tr;
					document.getElementById("plants").innerHTML += t;
				}
			}

			var xValues = ["M- Light", "M- Moisture",  "T- Light", "T- Moisture", "W- Light", "W- Moisture", "Th- Light", "Th- Moisture", "F- Light", "F- Moisture", "Sa- Light", "Sa- Moisture","Su- Light", "Su- Moisture"];
			var yValues = [];
			// var yValues = [27, 49, 44, 24, 15, 33, 07, 28, 13, 40, 22, 25, 36, 27, 48];
			// grab the data from the launch pad to add to the yValues for the results 
			// each number in the yValues array represents light then moisture for each day 
			async function load(url) {
				let obj = null;
				try {
					obj = await (await fetch(url)).json();
				} catch(e) {
					console.log('error');
				}
				console.log(obj);
			}

			data = load("http://192.168.40.40/ellie");

			function addData(data){
				console.log(data)
				for (var x = 0; x < data.length; x++) {
					yValues.append(data)
				}
			}
			var barColors = ["red", "red", "green", "green","blue", "blue", "orange", "orange","brown", "brown", "pink", "pink", "yellow", "yellow"];

			for (var i = 0; i < saved_plants.length; i++){
				var currentChart = "mychart" + String(i)
				console.log(typeof(currentChart))
				new Chart(currentChart, {
				type: "bar",
				data: {
					labels: xValues,
					datasets: [{
						backgroundColor: barColors,
						data: yValues
					}]
					},
				options: {
					legend: {display: false},
					title: {
						display: true,
						text: "Light and Moisture Data for Plant: " + String(PlantInformation[i][0])
					}
				}
				});
			}
		</script>

		<!-- <svg width="800" height="600"></svg> -->
	</body>

<script src="https://d3js.org/d3.v7.min.js"></script>

<script type="application/javascript">
	const SERVERADDRESS = "http://127.0.0.1:3000"
	// use XML HTTP request to grab data from the server (central)
	let xmlhttp = new XMLHttpRequest()

	startTime = new Date();
	xmlhttp.onreadystatechange = function () {
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			let responseText = xmlhttp.responseText
			let sensorValue = parseFloat(JSON.parse(responseText).sensorValue)
		}
	}
</script>

</html>
