<!DOCTYPE html>
<html>
	<head>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
		<title>Plant Sitter</title>
	</head>
	<style>
		/* Style The Dropdown Button */
		/*
		h1 {
			color: blue;
		}
		*/
		body {
			background-color: rgb(222, 255, 222);
		}
		.dropbtn {
		  background-color: lightblue;
		  color: white;
		  padding: 16px;
		  font-size: 16px;
		  border: none;
		  cursor: pointer;
		}


		.container {
			display: grid;
			grid-template-rows: 350px 350px;
			grid-template-columns: 550px 550px;
		}
		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		  position: relative;
		  display: inline-block;
		}
		
		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f9f9f9;
		  min-width: 160px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		
		/* Links inside the dropdown */
		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
		
		/* Change color of dropdown links on hover */
		.dropdown-content a:hover {background-color: #f1f1f1}
		
		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
		  display: block;
		}
		
		/* Change the background color of the dropdown button when the dropdown content is shown */
		.dropdown:hover .dropbtn {
		  background-color: lightblue;
		}
		.table, th, td {
			text-align: center;
			border: 1px solid;
			width: 500px;
			height: 40px;
		}
		</style>

	<body>
		<center>
		<h1>Plant Sitter</h1>

		</center>
		<br> <br>
		<caption style="font-weight: bold">Your Plants: </caption>
		<table id="plants">
			<tr>
				<th id="test">Plant Name </th>
				<th>Recommened Water </th>
				<th>Recommended Light </th>
			</tr>
		</table>
		<br> <br>
		<label for="plants">Current Plant to Track: </label>
		<select name="plantSelect" id="plantSelect">
			<option value="Mint Leaf">Mint</option>
			<option value="Orchid">Orchid</option>
			<option value="Cactus">Cactus</option>
		</select>
		<button id="addPlant">Choose</button>
		<br><br>
		<div id="charts" class="container">
			<div id="chart a">
				<canvas id="water" style="width:100%;max-width:500px; height:300px"></canvas>
			</div>
			<div id="chart b">		
				<canvas id="light" style="width:100%;max-width:500px; height:300px"></canvas>
			</div>
			<div id="chart c">
				<canvas id="waterWeek" style="width:100%;max-width:500px; height:300px"></canvas>
			</div>
			<div id="chart d">
				<canvas id="lightWeek" style="width:100%;max-width:500px; height:300px"></canvas>
			</div>
		</div>

		<script>
			let switchDataSet = false; 
			let firstCount = 0;
			let moisture = 0;
			let light = 0;
			var xValuesLight = ["Day 1- Light", "Day 2- Light", "Day 3- Light", "Day 4- Light","Day 5- Light", "Sa- Light", "Su- Light"];
			var xValuesWater = ["Day 1- Moisture", "Day 2- Moisture", "Day 4- Moisture",  "Th- Moisture", "F- Moisture", "Sa- Moisture", "Su- Moisture"];
			var xValuesTime = ["8am", "10am", "12pm", "2pm", "4pm", "6pm", "8pm",  "10pm", "12am", "2am",  "4am", "6am"];
			var yValuesLight = [];
			var yValuesWater = [];
			PlantInformation = [["Mint Leaf", "7 day a week", "indoor shade", "Tomorrow"],["Orchid", "1 day a week", "indoor sun", "Friday"], 
			["Cactus", "2 time a month", "outdoor sun", "Monday 21st"]]
			// first array is the light values
			// second array is the moisture values 
			PlantLineValues = {"Mint Leaf": [[400,400,400,400,400,400,400], [400,400,400,400,400,400,400]], "Orchid": [[300,300,300,300,300,300,300], [400,400,400,400,400,400,400]], "Cactus": [[700,700,700,700,700,700,700], [250,250,250,250,250,250,250]]};
	
			for (var i = 0; i < PlantInformation.length; i++){
				var t = "";
				var tr = "<tr>";
				tr += "<td>"+PlantInformation[i][0]+"</td>";
				tr += "<td>"+PlantInformation[i][1]+"</td>";
				tr += "<td>"+PlantInformation[i][2]+"</td>";
				// tr += "<td>"+PlantInformation[i][3]+"</td>";
				tr += "</tr>";
				t += tr;
				document.getElementById("plants").innerHTML += t;
			}
			var timer = null;
			//Update saved_plants upon clicking ADD button
			let plantBtn = document.getElementById("addPlant");
			let myPlant = ""
			function addPlant() {
				let change = false; 
				var count = 0;
				myDictionary = 
				[
				{"moisture": [245, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
				"light": [420, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [279, 245, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
				"light": [388, 420, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [296, 279, 245, 0, 0, 0, 0, 0, 0, 0, 0, 0],
				"light": [390, 388, 420, 0, 0, 0, 0, 0, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [326, 296, 279, 245, 0, 0, 0, 0, 0, 0, 0, 0],
				"light": [363, 390, 388, 420, 0, 0, 0, 0, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [678, 326, 296, 279, 245, 0, 0, 0, 0, 0, 0, 0],
				"light": [317, 363, 390, 388, 420, 0, 0, 0, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [476, 678, 326, 296, 279, 245, 0, 0, 0, 0, 0, 0],
				"light": [308, 317, 363, 390, 388, 420, 0, 0, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [458, 476, 678, 326, 296, 279, 245, 0, 0, 0, 0, 0],
				"light": [251, 308, 317, 363, 390, 388, 420, 0, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [452, 458, 476, 678, 326, 296, 279, 245, 0, 0, 0, 0],
				"light": [289, 251, 308, 317, 363, 390, 388, 420, 0, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [449, 452, 458, 476, 678, 326, 296, 279, 245, 0, 0, 0],
				"light": [308, 289, 251, 308, 317, 363, 390, 388, 420, 0, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [448, 449, 452, 458, 476, 678, 326, 296, 279, 245, 0, 0],
				"light": [279, 308, 289, 251, 308, 317, 363, 390, 388, 420, 0, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [448, 448, 449, 452, 458, 476, 678, 326, 296, 279, 245, 0],
				"light": [581, 279, 308, 289, 251, 308, 317, 363, 390, 388, 420, 0], 
				"light average": [0, 0, 0, 0, 0, 0, 0], 
				"water average": [0, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [447, 448, 448, 449, 452, 458, 476, 678, 326, 296, 279, 245],
				"light": [281, 581, 279, 308, 289, 251, 308, 317, 363, 390, 388, 420], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [446, 447, 448, 448, 449, 452, 458, 476, 678, 326, 296, 279],
				"light": [235, 281, 581, 279, 308, 289, 251, 308, 317, 363, 390, 388], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [446, 446, 447, 448, 448, 449, 452, 458, 476, 678, 326, 296],
				"light": [278, 235, 281, 581, 279, 308, 289, 251, 308, 317, 363, 390], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [443, 446, 446, 447, 448, 448, 449, 452, 458, 476, 678, 326],
				"light": [367, 278, 235, 281, 581, 279, 308, 289, 251, 308, 317, 363], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [445, 443, 446, 446, 447, 448, 448, 449, 452, 458, 476, 678],
				"light": [453, 367, 278, 235, 281, 581, 279, 308, 289, 251, 308, 317], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [446, 445, 443, 446, 446, 447, 448, 448, 449, 452, 458, 476],
				"light": [227, 453, 367, 278, 235, 281, 581, 279, 308, 289, 251, 308], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [444, 446, 445, 443, 446, 446, 447, 448, 448, 449, 452, 458],
				"light": [176, 227, 453, 367, 278, 235, 281, 581, 279, 308, 289, 251], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [445, 444, 446, 445, 443, 446, 446, 447, 448, 448, 449, 452],
				"light": [338, 176, 227, 453, 367, 278, 235, 281, 581, 279, 308, 289], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [445, 445, 444, 446, 445, 443, 446, 446, 447, 448, 448, 449],
				"light": [611, 338, 176, 227, 453, 367, 278, 235, 281, 581, 279, 308], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [446, 445, 445, 444, 446, 445, 443, 446, 446, 447, 448, 448],
				"light": [514, 611, 338, 176, 227, 453, 367, 278, 235, 281, 581, 279], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [446, 446, 445, 445, 444, 446, 445, 443, 446, 446, 447, 448],
				"light": [584, 514, 611, 338, 176, 227, 453, 367, 278, 235, 281, 581], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [446, 446, 446, 445, 445, 444, 446, 445, 443, 446, 446, 447],
				"light": [619, 584, 514, 611, 338, 176, 227, 453, 367, 278, 235, 281], 
				"light average": [347, 0, 0, 0, 0, 0, 0], 
				"water average": [416, 0, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [447, 446, 446, 446, 445, 445, 444, 446, 445, 443, 446, 446],
				"light": [271, 619, 584, 514, 611, 338, 176, 227, 453, 367, 278, 235], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [448, 447, 446, 446, 446, 445, 445, 444, 446, 445, 443, 446],
				"light": [291, 271, 619, 584, 514, 611, 338, 176, 227, 453, 367, 278], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [448, 448, 447, 446, 446, 446, 445, 445, 444, 446, 445, 443],
				"light": [281, 291, 271, 619, 584, 514, 611, 338, 176, 227, 453, 367], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [449, 448, 448, 447, 446, 446, 446, 445, 445, 444, 446, 445],
				"light": [177, 281, 291, 271, 619, 584, 514, 611, 338, 176, 227, 453], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [449, 449, 448, 448, 447, 446, 446, 446, 445, 445, 444, 446],
				"light": [192, 177, 281, 291, 271, 619, 584, 514, 611, 338, 176, 227], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [450, 449, 449, 448, 448, 447, 446, 446, 446, 445, 445, 444],
				"light": [179, 192, 177, 281, 291, 271, 619, 584, 514, 611, 338, 176], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [451, 450, 449, 449, 448, 448, 447, 446, 446, 446, 445, 445],
				"light": [642, 179, 192, 177, 281, 291, 271, 619, 584, 514, 611, 338], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [451, 451, 450, 449, 449, 448, 448, 447, 446, 446, 446, 445],
				"light": [642, 642, 179, 192, 177, 281, 291, 271, 619, 584, 514, 611], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [452, 451, 451, 450, 449, 449, 448, 448, 447, 446, 446, 446],
				"light": [641, 642, 642, 179, 192, 177, 281, 291, 271, 619, 584, 514], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [452, 452, 451, 451, 450, 449, 449, 448, 448, 447, 446, 446],
				"light": [641, 641, 642, 642, 179, 192, 177, 281, 291, 271, 619, 584], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [452, 452, 452, 451, 451, 450, 449, 449, 448, 448, 447, 446],
				"light": [642, 641, 641, 642, 642, 179, 192, 177, 281, 291, 271, 619], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [453, 452, 452, 452, 451, 451, 450, 449, 449, 448, 448, 447],
				"light": [570, 642, 641, 641, 642, 642, 179, 192, 177, 281, 291, 271], 
				"light average": [389, 347, 0, 0, 0, 0, 0], 
				"water average": [445, 416, 0, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [453, 453, 452, 452, 452, 451, 451, 450, 449, 449, 448, 448],
				"light": [593, 570, 642, 641, 641, 642, 642, 179, 192, 177, 281, 291], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [453, 453, 453, 452, 452, 452, 451, 451, 450, 449, 449, 448],
				"light": [610, 593, 570, 642, 641, 641, 642, 642, 179, 192, 177, 281], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [454, 453, 453, 453, 452, 452, 452, 451, 451, 450, 449, 449],
				"light": [442, 610, 593, 570, 642, 641, 641, 642, 642, 179, 192, 177], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [454, 454, 453, 453, 453, 452, 452, 452, 451, 451, 450, 449],
				"light": [431, 442, 610, 593, 570, 642, 641, 641, 642, 642, 179, 192], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [455, 454, 454, 453, 453, 453, 452, 452, 452, 451, 451, 450],
				"light": [436, 431, 442, 610, 593, 570, 642, 641, 641, 642, 642, 179], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [454, 455, 454, 454, 453, 453, 453, 452, 452, 452, 451, 451],
				"light": [519, 436, 431, 442, 610, 593, 570, 642, 641, 641, 642, 642], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [455, 454, 455, 454, 454, 453, 453, 453, 452, 452, 452, 451],
				"light": [586, 519, 436, 431, 442, 610, 593, 570, 642, 641, 641, 642], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [456, 455, 454, 455, 454, 454, 453, 453, 453, 452, 452, 452],
				"light": [641, 586, 519, 436, 431, 442, 610, 593, 570, 642, 641, 641], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [456, 456, 455, 454, 455, 454, 454, 453, 453, 453, 452, 452],
				"light": [597, 641, 586, 519, 436, 431, 442, 610, 593, 570, 642, 641], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [455, 456, 456, 455, 454, 455, 454, 454, 453, 453, 453, 452],
				"light": [614, 597, 641, 586, 519, 436, 431, 442, 610, 593, 570, 642], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [457, 455, 456, 456, 455, 454, 455, 454, 454, 453, 453, 453],
				"light": [640, 614, 597, 641, 586, 519, 436, 431, 442, 610, 593, 570], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [457, 457, 455, 456, 456, 455, 454, 455, 454, 454, 453, 453],
				"light": [360, 640, 614, 597, 641, 586, 519, 436, 431, 442, 610, 593], 
				"light average": [457, 389, 347, 0, 0, 0, 0], 
				"water average": [450, 445, 416, 0, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [457, 457, 457, 455, 456, 456, 455, 454, 455, 454, 454, 453],
				"light": [420, 360, 640, 614, 597, 641, 586, 519, 436, 431, 442, 610], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [457, 457, 457, 457, 455, 456, 456, 455, 454, 455, 454, 454],
				"light": [462, 420, 360, 640, 614, 597, 641, 586, 519, 436, 431, 442], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [458, 457, 457, 457, 457, 455, 456, 456, 455, 454, 455, 454],
				"light": [369, 462, 420, 360, 640, 614, 597, 641, 586, 519, 436, 431], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [460, 458, 457, 457, 457, 457, 455, 456, 456, 455, 454, 455],
				"light": [456, 369, 462, 420, 360, 640, 614, 597, 641, 586, 519, 436], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [459, 460, 458, 457, 457, 457, 457, 455, 456, 456, 455, 454],
				"light": [431, 456, 369, 462, 420, 360, 640, 614, 597, 641, 586, 519], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [461, 459, 460, 458, 457, 457, 457, 457, 455, 456, 456, 455],
				"light": [413, 431, 456, 369, 462, 420, 360, 640, 614, 597, 641, 586], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [459, 461, 459, 460, 458, 457, 457, 457, 457, 455, 456, 456],
				"light": [430, 413, 431, 456, 369, 462, 420, 360, 640, 614, 597, 641], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [459, 459, 461, 459, 460, 458, 457, 457, 457, 457, 455, 456],
				"light": [453, 430, 413, 431, 456, 369, 462, 420, 360, 640, 614, 597], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [460, 459, 459, 461, 459, 460, 458, 457, 457, 457, 457, 455],
				"light": [622, 453, 430, 413, 431, 456, 369, 462, 420, 360, 640, 614], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [461, 460, 459, 459, 461, 459, 460, 458, 457, 457, 457, 457],
				"light": [379, 622, 453, 430, 413, 431, 456, 369, 462, 420, 360, 640], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [460, 461, 460, 459, 459, 461, 459, 460, 458, 457, 457, 457],
				"light": [414, 379, 622, 453, 430, 413, 431, 456, 369, 462, 420, 360], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [461, 460, 461, 460, 459, 459, 461, 459, 460, 458, 457, 457],
				"light": [348, 414, 379, 622, 453, 430, 413, 431, 456, 369, 462, 420], 
				"light average": [524, 457, 389, 347, 0, 0, 0], 
				"water average": [455, 450, 445, 416, 0, 0, 0], 
				"intense light": 0
				},

				{"moisture": [460, 461, 460, 461, 460, 459, 459, 461, 459, 460, 458, 457],
				"light": [293, 348, 414, 379, 622, 453, 430, 413, 431, 456, 369, 462], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [423, 460, 461, 460, 461, 460, 459, 459, 461, 459, 460, 458],
				"light": [205, 293, 348, 414, 379, 622, 453, 430, 413, 431, 456, 369], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [368, 423, 460, 461, 460, 461, 460, 459, 459, 461, 459, 460],
				"light": [627, 205, 293, 348, 414, 379, 622, 453, 430, 413, 431, 456], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [373, 368, 423, 460, 461, 460, 461, 460, 459, 459, 461, 459],
				"light": [368, 627, 205, 293, 348, 414, 379, 622, 453, 430, 413, 431], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [378, 373, 368, 423, 460, 461, 460, 461, 460, 459, 459, 461],
				"light": [380, 368, 627, 205, 293, 348, 414, 379, 622, 453, 430, 413], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [381, 378, 373, 368, 423, 460, 461, 460, 461, 460, 459, 459],
				"light": [352, 380, 368, 627, 205, 293, 348, 414, 379, 622, 453, 430], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [382, 381, 378, 373, 368, 423, 460, 461, 460, 461, 460, 459],
				"light": [641, 352, 380, 368, 627, 205, 293, 348, 414, 379, 622, 453], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [384, 382, 381, 378, 373, 368, 423, 460, 461, 460, 461, 460],
				"light": [641, 641, 352, 380, 368, 627, 205, 293, 348, 414, 379, 622], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [386, 384, 382, 381, 378, 373, 368, 423, 460, 461, 460, 461],
				"light": [640, 641, 641, 352, 380, 368, 627, 205, 293, 348, 414, 379], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [387, 386, 384, 382, 381, 378, 373, 368, 423, 460, 461, 460],
				"light": [637, 640, 641, 641, 352, 380, 368, 627, 205, 293, 348, 414], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [388, 387, 386, 384, 382, 381, 378, 373, 368, 423, 460, 461],
				"light": [517, 637, 640, 641, 641, 352, 380, 368, 627, 205, 293, 348], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [388, 388, 387, 386, 384, 382, 381, 378, 373, 368, 423, 460],
				"light": [629, 517, 637, 640, 641, 641, 352, 380, 368, 627, 205, 293], 
				"light average": [422, 524, 457, 389, 347, 0, 0], 
				"water average": [459, 455, 450, 445, 416, 0, 0], 
				"intense light": 0
				},

				{"moisture": [389, 388, 388, 387, 386, 384, 382, 381, 378, 373, 368, 423],
				"light": [491, 629, 517, 637, 640, 641, 641, 352, 380, 368, 627, 205], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [390, 389, 388, 388, 387, 386, 384, 382, 381, 378, 373, 368],
				"light": [608, 491, 629, 517, 637, 640, 641, 641, 352, 380, 368, 627], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [391, 390, 389, 388, 388, 387, 386, 384, 382, 381, 378, 373],
				"light": [616, 608, 491, 629, 517, 637, 640, 641, 641, 352, 380, 368], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [392, 391, 390, 389, 388, 388, 387, 386, 384, 382, 381, 378],
				"light": [586, 616, 608, 491, 629, 517, 637, 640, 641, 641, 352, 380], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [394, 392, 391, 390, 389, 388, 388, 387, 386, 384, 382, 381],
				"light": [388, 586, 616, 608, 491, 629, 517, 637, 640, 641, 641, 352], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [394, 394, 392, 391, 390, 389, 388, 388, 387, 386, 384, 382],
				"light": [537, 388, 586, 616, 608, 491, 629, 517, 637, 640, 641, 641], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [396, 394, 394, 392, 391, 390, 389, 388, 388, 387, 386, 384],
				"light": [523, 537, 388, 586, 616, 608, 491, 629, 517, 637, 640, 641], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [397, 396, 394, 394, 392, 391, 390, 389, 388, 388, 387, 386],
				"light": [562, 523, 537, 388, 586, 616, 608, 491, 629, 517, 637, 640], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [398, 397, 396, 394, 394, 392, 391, 390, 389, 388, 388, 387],
				"light": [542, 562, 523, 537, 388, 586, 616, 608, 491, 629, 517, 637], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [400, 398, 397, 396, 394, 394, 392, 391, 390, 389, 388, 388],
				"light": [509, 542, 562, 523, 537, 388, 586, 616, 608, 491, 629, 517], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [401, 400, 398, 397, 396, 394, 394, 392, 391, 390, 389, 388],
				"light": [549, 509, 542, 562, 523, 537, 388, 586, 616, 608, 491, 629], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [403, 401, 400, 398, 397, 396, 394, 394, 392, 391, 390, 389],
				"light": [616, 549, 509, 542, 562, 523, 537, 388, 586, 616, 608, 491], 
				"light average": [510, 422, 524, 457, 389, 347, 0], 
				"water average": [385, 459, 455, 450, 445, 416, 0], 
				"intense light": 0
				},

				{"moisture": [403, 403, 401, 400, 398, 397, 396, 394, 394, 392, 391, 390],
				"light": [547, 616, 549, 509, 542, 562, 523, 537, 388, 586, 616, 608], 
				"light average": [548, 510, 422, 524, 457, 389, 347], 
				"water average": [396, 385, 459, 455, 450, 445, 416], 
				"intense light": 0
				}


				]
				if (timer) {
					clearInterval(timer);
				}
				myPlant = document.getElementById("plantSelect").value
				
				
				addData(myDictionary[count])
				addChart(myPlant)
				updateChart(); 
				timer = setInterval(() => 
				{
					console.log("COUNT", count)
					count += 1
					if (count === 84){
						count = 0
					}
					if (count == 7){
						change = true; 
					}

					if (count % 12 === 11){
						console.log("color");
						document.body.style.backgroundColor = 'yellow';
					}
					else{
						document.body.style.backgroundColor = 'rgb(222, 255, 222)';
					}
					addData(myDictionary[count])
					addChart(myPlant)
					updateChart(change);
				}
				, 2000); //Repeat every x seconds
			}
			plantBtn.addEventListener('click', addPlant);

			// fetch("http://192.168.40.40/ellie")
			// 	.then((response) => response.json())
			// 	.then((data) => addData(data))
			// 	.then((data) => console.log(data));

			function addData(myDictionary){																			
				moistureArray = myDictionary['moisture']
				lightArray = myDictionary['light']
				moistureWeek = myDictionary['water average']
				lightWeek = myDictionary['light average']
				yValuesWater = [];
				yValuesLight= [];
				yValuesWaterWeek = [];
				yValuesLightWeek= [];
				for (var x = 0; x < moistureArray.length; x++) {
					yValuesWater.push(moistureArray[x])
				}
				for (var x = 0; x < lightArray.length; x++) {
					yValuesLight.push(lightArray[x])
				}
				for (var x = 0; x < moistureWeek.length; x++) {
					yValuesWaterWeek.push(moistureWeek[x])
				}
				for (var x = 0; x < lightWeek.length; x++) {
					yValuesLightWeek.push(lightWeek[x])
				}
				yValuesLightWeek.reverse()
				yValuesLight.reverse()

				yValuesWater.reverse()
				yValuesWaterWeek.reverse()
			}

			var lightChart;
			var waterChart;

			function addChart(myPlant){
				if (lightChart) {
					lightChart.destroy();
				}
				if (waterChart) {
					waterChart.destroy();
				}
				var currentChart1 = "water"
				var currentChart2 = "light"
				var currentChart3 = "waterWeek"
				var currentChart4 = "lightWeek"
				lightChart = new Chart(currentChart1, {
				type: "bar",
				data: { 
					labels: xValuesTime.slice(0, 7),
					datasets: [{
						type: 'bar',
						backgroundColor: 'orange',
						data: yValuesLight
					},{
						type: 'line',
						data : PlantLineValues[myPlant][0],
						borderColor: 'lightgreen',
						fill: false
					},
					]
					},
				options: {
					legend: {display: false},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					},
					title: {
						display: true,
						text: "Daily Light Data for Plant: " + myPlant
					},
					chartArea: {
						backgroundColor: 'rgb(75, 192, 192)',
					}
				}
				});

				waterChart = new Chart(currentChart2, {
				type: "bar",
				data: {
					labels: xValuesTime.slice(0, 7),
					datasets: [{
						backgroundColor: 'lightblue',
						data: yValuesWater
					},
					{
						type: 'line',
						data : PlantLineValues[myPlant][1],
						borderColor: 'lightgreen',
						fill: false
					},
					]
					},
				options: {
					legend: {display: false},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					},
					title: {
						display: true,
						text: "Daily Moisture Data for Plant: " + myPlant
					},
					chartArea: {
						backgroundColor: 'rgb(75, 192, 192)',
					}
				}
				});

				WeeklylightChart = new Chart(currentChart3, {
				type: "bar",
				data: { 
					labels: xValuesLight,
					datasets: [{
						type: 'bar',
						backgroundColor: 'orange',
						data: yValuesLightWeek
					},{
						type: 'line',
						data : PlantLineValues[myPlant][0],
						borderColor: 'lightgreen',
						fill: false
					},
					]
					},
				options: {
					legend: {display: false},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					},
					title: {
						display: true,
						text: "Weekly Light Data for Plant: " + myPlant
					},
					chartArea: {
						backgroundColor: 'rgb(75, 192, 192)',
					}
				}
				});
				WeeklywaterChart = new Chart(currentChart4, {
				type: "bar",
				data: {
					labels: xValuesWater,
					datasets: [{
						backgroundColor: 'lightblue',
						data: yValuesWaterWeek
					},
					{
						type: 'line',
						data : PlantLineValues[myPlant][1],
						borderColor: 'lightgreen',
						fill: false
					},
					]
					},
				options: {
					legend: {display: false},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					},
					title: {
						display: true,
						text: "Weekly Moisture Data for Plant: " + myPlant
					},
					chartArea: {
						backgroundColor: 'rgb(75, 192, 192)',
					}
				}
				});
			}

			function updateChart(change,lightData, waterData) {
				//update data fields of lightChart and waterChart
				//shift x-axes and y-axes left by one (so last 7 days are displayed)
				//add new column (day that was replaced)
				if (change == true){
					first_day = xValuesTime.shift();
					xValuesTime.push(first_day);
					if (first_day == '6am'){
						switchDataSet = true;
					}
					else{
						switchDataSet = false;
					}
				}
				else{
					first_day = xValuesTime[0];
				}
				lightChart.data.labels = xValuesTime.slice(0, 7);
				waterChart.data.labels = xValuesTime.slice(0, 7);
				lightChart.data.datasets[0].data = yValuesLight;
				waterChart.data.datasets[0].data = yValuesWater;

				let colors = getBGColors();
				lightChart.data.datasets[0].backgroundColor = colors.light;
				waterChart.data.datasets[0].backgroundColor = colors.water
				
				lightChart.update();
				waterChart.update();
				WeeklylightChart.update();
				WeeklywaterChart.update();
			}

			//This can be a dict of flowers which are dicts structured as {light: 100, water: 100}
			function getBGColors() {
				var lightData = lightChart.data.datasets[0].data;
				var waterData = waterChart.data.datasets[0].data;
				var lightDataWeek = WeeklylightChart.data.datasets[0].data;
				var waterDataWeek = WeeklywaterChart.data.datasets[0].data;
				var percentDiff = 0.4;
				var colors;
				colors = {light: [], water: []};
				var lightLevel = PlantLineValues[myPlant][0][0];
				var waterLevel = PlantLineValues[myPlant][1][0];
				for (var i = 0; i < lightData.length; i++) {
					if (Math.abs(lightData[i] - lightLevel) > lightLevel * percentDiff) {
						colors.light.push('red');
					}
					else {
						colors.light.push('orange');
					}
				}
				for (var i = 0; i < waterData.length; i++) {
					if (Math.abs(waterData[i] - waterLevel) > waterLevel * percentDiff) {
						colors.water.push('red');
					}
					else {
						colors.water.push('lightblue');
					}
				}
				for (var i = 0; i < waterDataWeek.length; i++) {
					if (Math.abs(waterDataWeek[i] - lightLevel) > lightLevel * percentDiff) {
						colors.light.push('red');
					}
					else {
						colors.light.push('orange');
					}
				}
				for (var i = 0; i < lightDataWeek.length; i++) {
					if (Math.abs(lightDataWeek[i] - waterLevel) > waterLevel * percentDiff) {
						colors.water.push('red');
					}
					else {
						colors.water.push('lightblue');
					}
				}
				return colors;
			}

		</script>
	</body>

<script src="https://d3js.org/d3.v7.min.js"></script>

<script type="application/javascript">
	const SERVERADDRESS = "http://127.0.0.1:3000"
	// use XML HTTP request to grab data from the server (central)
	let xmlhttp = new XMLHttpRequest()

	startTime = new Date();
	xmlhttp.onreadystatechange = function () {
		if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			let responseText = xmlhttp.responseText
			moisture = parseFloat(JSON.parse(responseText).moisture);
			light = parseFloat(JSON.parse(responseText).light);
		}
	}
</script>

</html>
